<h2>General Stats</h2>
<div id="generalStats">
	<table>
		<tr>
			<td>Name:</td><td><input #nameBox id="nameBox" type="text" value="Character Name"></td>
		</tr>
		<tr>
			<td>Speed:</td><td><input #speedBox id="speedBox" type="number" min="0" value="30"></td>
		</tr>
		<tr>
			<td>AC:</td><td><input #acBox id="acBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Proficiency Bonus:</td><td><input #proficiencyBox id="proficiencyBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>HP:</td><td><input #hpBox id="hpBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Strength Score:</td><td><input #strengthScoreBox id="strengthScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Dexterity Score:</td><td><input #dexterityScoreBox id="dexterityScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Constitution Score:</td><td><input #constitutionScoreBox id="constitutionScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Intelligence Score:</td><td><input #intelligenceScoreBox id="intelligenceScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Wisdom Score:</td><td><input #wisdomScoreBox id="wisdomScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Charisma Score:</td><td><input #charismaScoreBox id="charismaScoreBox" type="number" min="0" value="10"></td>
		</tr>
		<tr>
			<td>Total Hit Die:</td><td><input #hitDieBox id="hitDieBox" type="number" min="0" value="1"></td>
		</tr>
		<tr>
			<td>Hit Die Dice:</td><td><input #hitDieDiceBox id="hitDieDiceBox" type="number" min="0" value="6"></td>
		</tr>	
	</table>
</div>
<hr/>

<h2>Spell Slots</h2>
<div id="spellSlots">
	<table>
		<tr>
			<td>Level 1:</td><td><input #level1SlotsBox id="level1SlotsBox" type="number" min="0"  value="0"></td>
		</tr>
		<tr>
			<td>Level 2:</td><td><input #level2SlotsBox id="level2SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 3:</td><td><input #level3SlotsBox id="level3SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 4:</td><td><input #level4SlotsBox id="level4SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 5:</td><td><input #level5SlotsBox id="level5SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 6:</td><td><input #level6SlotsBox id="level6SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 7:</td><td><input #level7SlotsBox id="level7SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 8:</td><td><input #level8SlotsBox id="level8SlotsBox" type="number" min="0" value="0"></td>
		</tr>
		<tr>
			<td>Level 9:</td><td><input #level9SlotsBox id="level9SlotsBox" type="number" min="0" value="0"></td>
		</tr>
	</table>
</div>
<hr/>

<h2>Proficiencies</h2>
<div id="proficiencies">
	<h4>Saving Throws</h4>
	<table>
		<tr>
			<td>Strength</td><td><input #strengthSaveThrowBox type="checkbox" id="strengthSaveThrowBox"></td>
		</tr>
		<tr>
			<td>Dexterity</td><td><input #dexteritySaveThrowBox type="checkbox" id="dexteritySaveThrowBox"></td>
		</tr>
		<tr>
			<td>Constitution</td><td><input #constitutionSaveThrowBox type="checkbox" id="constitutionSaveThrowBox"></td>
		</tr>
		<tr>
			<td>Intelligence</td><td><input #intelligenceSaveThrowBox type="checkbox" id="intelligenceSaveThrowBox"></td>
		</tr>
		<tr>
			<td>Wisdom</td><td><input #wisdomSaveThrowBox type="checkbox" id="wisdomSaveThrowBox"></td>
		</tr>
		<tr>
			<td>Charisma</td><td><input #charismaSaveThrowBox type="checkbox" id="charismaSaveThrowBox"></td>
		</tr>
	</table>
	
	<br/>
	
	<h4>Skills</h4>
	<table>
		<tr>
			<td>Acrobatics (Dex)</td><td><input #AcrobaticsSkillBox type="checkbox" id="AcrobaticsSkillBox"></td>
		</tr>
		<tr>
			<td>Animal Handling (Wis)</td><td><input #AnimalHandlingSkillBox type="checkbox" id="AnimalHandlingSkillBox"></td>
		</tr>
		<tr>
			<td>Arcana (Int)</td><td><input #ArcanaSkillBox type="checkbox" id="ArcanaSkillBox"></td>
		</tr>
		<tr>
			<td>Athletics (Str)</td><td><input #AthleticsSkillBox type="checkbox" id="AthleticsSkillBox"></td>
		</tr>
		<tr>
			<td>Deception (Cha)</td><td><input #DeceptionSkillBox type="checkbox" id="DeceptionSkillBox"></td>
		</tr>
		<tr>
			<td>History (Int)</td><td><input #HistorySkillBox type="checkbox" id="HistorySkillBox"></td>
		</tr>
		<tr>
			<td>Insight (Wis)</td><td><input #InsightSkillBox type="checkbox" id="InsightSkillBox"></td>
		</tr>
		<tr>
			<td>Intimidation (Cha)</td><td><input #IntimidationSkillBox type="checkbox" id="IntimidationSkillBox"></td>
		</tr>
		<tr>
			<td>Investigation (Int)</td><td><input #InvestigationSkillBox type="checkbox" id="InvestigationSkillBox"></td>
		</tr>
		<tr>
			<td>Medicine (Wis)</td><td><input #MedicineSkillBox type="checkbox" id="MedicineSkillBox"></td>
		</tr>
		<tr>
			<td>Nature (Int)</td><td><input #NatureSkillBox type="checkbox" id="NatureSkillBox"></td>
		</tr>
		<tr>
			<td>Perception (Wis)</td><td><input #PerceptionSkillBox type="checkbox" id="PerceptionSkillBox"></td>
		</tr>
		<tr>
			<td>Performance (Cha)</td><td><input #PerformanceSkillBox type="checkbox" id="PerformanceSkillBox"></td>
		</tr>
		<tr>
			<td>Persuasion (Cha)</td><td><input #PersuasionSkillBox type="checkbox" id="PersuasionSkillBox"></td>
		</tr>
		<tr>
			<td>Religion (Int)</td><td><input #ReligionSkillBox type="checkbox" id="ReligionSkillBox"></td>
		</tr>
		<tr>
			<td>Sleight of Hand (Dex)</td><td><input #SleightofHandSkillBox type="checkbox" id="SleightofHandSkillBox"></td>
		</tr>
		<tr>
			<td>Stealth (Dex)</td><td><input #StealthSkillBox type="checkbox" id="StealthSkillBox"></td>
		</tr>
		<tr>
			<td>Survival (Wis)</td><td><input #SurvivalSkillBox type="checkbox" id="SurvivalSkillBox"></td>
		</tr>
	</table>
</div>
<hr/>

<h2>Attacks</h2>
<div id="attackEntry">
	<span>
		Name: <input #attackNameBox id="attackNameBox" type="text">
		Spell Level: <input #attackLevelBox id="attackLevelBox" type="number" min="0" max="9" value="0">
		Attack Roll: <input #attackRollBox id="attackRollBox" type="text" value="/r 1d20">
	</span>
	<br/>
	<span>
		Damage Roll: <input #damageRollBox id="damageRollBox" type="text" value="/r 1d10">
		Reference Link: <input #attackReferenceLinkBox id="attackReferenceLinkBox" type="text">
		<app-button id="AddAttackButton" text="Add" (btnClick)="addAttack()"></app-button>
	</span>
	<br/>
	<span>
		Delete: <input #deleteAttackBox id="deleteAttackBox" type="number" min="1" value="1"><app-button text="X" (btnClick)="deleteAttack()" id="DeleteAttackButton"></app-button>
	</span>
</div>
<div #addedAttacksDiv id="addedAttacksDiv"></div>
<hr/>

<h2>Counters</h2>
<div id="attackEntry">
	<span>
		Name: <input #counterNameBox id="counterNameBox" type="text">
		Max Count: <input #counterMaxBox id="counterMaxBox" type="number" min="0" value="10">
		<app-button id="AddCounterButton" text="Add" (btnClick)="addCounter()"></app-button>
	</span>
	<br/>
	<span>
		Delete: <input #deleteCounterBox id="deleteCounterBox" type="number" min="1" value="1"><app-button text="X" (btnClick)="deleteCounter()" id="DeleteCounterButton"></app-button>
	</span>
</div>
<div #addedCountersDiv id="addedCountersDiv"></div>
<hr/>

<h2>References</h2>
<div id="referenceEntry">
	<span>
		Name: <input #referenceNameBox id="referenceNameBox" type="text">
		Link: <input #referenceLinkBox id="referenceLinkBox" type="text">
		<app-button id="AddReferenceButton" text="Add" (btnClick)="addReference()"></app-button>
	</span>
	<br/>
	<span>
		Delete: <input #deleteReferenceBox id="deleteReferenceBox" type="number" min="1" value="1"><app-button text="X" (btnClick)="deleteReference()" id="DeleteReferenceButton"></app-button>
	</span>
</div>
<div #addedReferencesDiv id="addedReferenceDiv"></div>

<hr/>
<app-button id="SaveCharacterButton" text="Save" (btnClick)="saveCharacter()"></app-button>
<hr/>