
<textarea #rollBox type="text" id="rollBox"></textarea>
<hr/>
<h2>{{character.name}}</h2>
<hr/>
	
<div id="generalStats">
	<app-button text="Initiative" (btnClick)="rollInit()"></app-button>
	HP: 
	<input #hpBox id="hpSpinBox" type="number" min="0" max="{{character.maxHP}}" value="{{character.currentHP}}">
	Hit Die Current: 
	<input #hitDieBox id="hitDieSpinBox" type="number" min="0" max="{{character.maxHitDie}}" value="{{character.currentHitDie}}">
	Hit Die To Use: 
	<input #hitDieToUseBox id="hitDieToUseSpinBox" type="number" min="0" max="{{character.maxHitDie}}" value="1">
	<app-button text="Roll Hit Die" (btnClick)="rollHitDie()"></app-button>
	<span>AC: {{character.ac}}</span>
	<span>Speed: {{character.speed}}</span>
</div>

<hr/>
<h3>Saving Throws</h3>
<div id="savingThrowButtons">
	<app-button text="Strength" (btnClick)="saveThrowPressed('str')"></app-button>
	<app-button text="Dexterity" (btnClick)="saveThrowPressed('dex')"></app-button>
	<app-button text="Constitution" (btnClick)="saveThrowPressed('con')"></app-button>
	<app-button text="Intelligence"  (btnClick)="saveThrowPressed('intel')"></app-button>
	<app-button text="Wisdom"  (btnClick)="saveThrowPressed('wis')"></app-button>
	<app-button text="Charisma"  (btnClick)="saveThrowPressed('cha')"></app-button>
</div>

<hr/>
<h3>Skills</h3>
<div id="skillButtons">
	<span *ngFor="let skill of character.skills; let i = index">
		<app-button text="{{skill.name}}" (btnClick)="skillRoll(i)"></app-button>
	</span>
</div>

<hr/>
<h3>Cantrips</h3>
<div id="cantrips">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 0" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 0" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 1 <input #SlotsBox1 id="spellsSlots1" type="number" min="0" max="{{character.maxSlots1}}" value="{{character.currentSlots1}}"></h3>
<div id="level1">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 1" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 1" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 2 <input #SlotsBox2 id="spellsSlots2" type="number" min="0" max="{{character.maxSlots2}}" value="{{character.currentSlots2}}"></h3>
<div id="level2">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 2" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 2" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 3 <input #SlotsBox3 id="spellsSlots3" type="number" min="0" max="{{character.maxSlots3}}" value="{{character.currentSlots3}}"></h3>
<div id="level3">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 3" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 3" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 4 <input #SlotsBox4 id="spellsSlots4" type="number" min="0" max="{{character.maxSlots4}}" value="{{character.currentSlots4}}"></h3>
<div id="level4">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 4" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 4" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 5 <input #SlotsBox5 id="spellsSlots5" type="number" min="0" max="{{character.maxSlots5}}" value="{{character.currentSlots5}}"></h3>
<div id="level5">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 5" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 5" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 6 <input #SlotsBox6 id="spellsSlots6" type="number" min="0" max="{{character.maxSlots6}}" value="{{character.currentSlots6}}"></h3>
<div id="level6">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 6" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 6" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 7 <input #SlotsBox7 id="spellsSlots7" type="number" min="0" max="{{character.maxSlots7}}" value="{{character.currentSlots7}}"></h3>
<div id="level7">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 7" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 7" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 8 <input #SlotsBox8 id="spellsSlots8" type="number" min="0" max="{{character.maxSlots8}}" value="{{character.currentSlots8}}"></h3>
<div id="level8">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 8" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 8" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Level 9 <input #SlotsBox9 id="spellsSlots9" type="number" min="0" max="{{character.maxSlots9}}" value="{{character.currentSlots9}}"></h3>
<div id="level9">
	<span *ngFor="let attack of character.attacks">
		<app-button *ngIf="attack.level == 9" text="{{attack.name}}" (btnClick)="makeAttackRoll(attack.attackRoll, attack.damageRoll, attack.level)"></app-button>
		<app-button *ngIf="attack.level == 9" text="?" (btnClick)="openHelp(attack.referenceLink)"></app-button>
	</span>
</div>

<hr/>
<h3>Counters</h3>
<div id="counters">
	<span *ngFor="let counter of character.counters; let i = index">
		<app-counter-box [counter]=counter [boxId]=i></app-counter-box>
	</span>
</div>

<hr/>
<h3>Other References</h3>
<div id="references">
	<span *ngFor="let reference of character.references">
		<app-button text="{{reference.name}}" (btnClick)="openHelp(reference.link)"></app-button> 
	</span>
</div>

<hr/>
<app-button text="Save" (btnClick)="saveData()"></app-button>
<hr/>
<a routerLink="/">Go back</a>